@import "tailwindcss";

@layer base {
  @font-face {
    font-family:Poppins;
    src:url('../../public/fonts/Poppins.ttf')
  }

  @font-face {
    font-family:PoppinsBold;
    src:url('../../public/fonts/Poppins-Bold.ttf')
  }

  * {
    font-family: Poppins
  }
}